.add-card {
    background: #837e7e;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.add-card h2 {
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 1.2rem;
  text-align: center;
  font-size: xx-large;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-box label {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-light);
    text-align: center;
    font-size: x-large;
}

.input-box input, 
.input-box textarea {
    padding: 10px 15px;
    border: 1.5px solid #e2e8f0;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus, 
.input-box textarea:focus {
    border-color: var(--primary-color);
}

.input-box textarea {
    height: 80px;
    resize: none;
}

.error {
    color: #e11d48;
    font-size: 11px;
    margin-top: 2px;
}

.submit-btn {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    transition: 0.3s;
}

.submit-btn.active {
    background-color: rgb(60, 224, 63);
    color: rgb(231, 216, 216);
    cursor: pointer;
}

.submit-btn.disabled {
    background-color: #3872b9;
    color: #dfe4eb;
    cursor: not-allowed;
}

input::placeholder {
  text-align: center;
}
