.input-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns items to the left */
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
 .input-item p{
font-size:x-large;
font-family:Arial, Helvetica, sans-serif;
font-weight: 900;

}

input::placeholder {
  text-align: center;
}