
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: white;
}

.logo {
  color: #ff4c24;
  font-weight: 800;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #4b5563;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
  color: #ff4c24;
}

/* Fix for mobile navbar */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}