.list-table-format {
    display: grid;
    
    align-items: center;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.list-table-format.title { background-color: #f3f3f3; }

/* .active-btn { background: #17d055; color: white; cursor: pointer; border: none; padding: 10px; }
.disabled-btn { background: #e46666;color:#f3f3f3; cursor: not-allowed; border: none; padding: 10px; } */

.delete { color: red; font-weight: bold; cursor: pointer; text-align: center; }

@media (max-width: 750px) {
    .list-table-format { grid-template-columns: 1fr 1fr 1fr 0.5fr; }
    /* Hide email on mobile to keep it clean */
    .list-table-format p:nth-child(2) { display: none; } 
}